{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
  {{- $utc := .Date.UTC -}}
  {{- $title := $utc.Format "2006-01-02T15:04:05Z07:00" -}}
  {{- $display := lower ($utc.Format (default "02 Jan 2006 at 15:04 UTC" site.Params.DateFormat)) -}}
  {{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" $title $display)) -}}
{{- end -}}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime))) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
{{- $scratch.Add "meta" (slice (i18n "words" .WordCount | default (printf "%d words" .WordCount))) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}